*{
  box-sizing:border-box;
}

.red{
  color:red;
}

.images{
  display:flex;
  align-items:flex-start;
  transition:transform 0.5s;
  transform: translateX(0);
}
.window{
  
 
  width:400px;
  overflow: hidden;
}